@import "tailwindcss";

@theme {
  --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --color-brand-purple: #8c00ff; /* Adjust based on your image exact purple */
  --color-brand-yellow: #fde047;
}

body {
  font-family: var(--font-helvetica);
  background-color: #ffffff;
  color: #1a1a1a;
  overflow-x: hidden;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 7s ease-in-out infinite 1s; /* Delays start so they don't move together */
}
